.selectPicker {
  font-size:2em;
  width: 100%;
}

nav.topNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: gray;
}

nav.topNav ul li {
	float:left;
}
nav.topNav ul li a {
	display: block;
	text-align: center;
	padding: 1.4em;
	text-decoration: none;
	color: #333;
	font-size:1.2em;
	font-weight: 600;
	letter-spacing: -0.03em;
}

nav.topNav li a:hover {
	text-decoration: underline;
  }
/* 
  .ms-DocumentCardPreview-Icon {
	width:25%;
  } */